.info__conrainer {
  padding-left: 85px;
  padding-top: 120px;
}

.info__name {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888f;
  margin-bottom: 72px;
}

.info__wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.info__wrap-iframe {
  border-radius: 45px;
  border: 5px solid #0e8784;
  transition: 0.3s ease;
}

.info__wrap-iframe:hover {
  opacity: 0.8;
}
