.social__link {
  margin-left: 24px;
  transition: 0.3s ease;
}

.social__link:hover {
  opacity: 0.6;
}

.social__link:active {
  opacity: 0.4;
}

@media screen and (max-width: $tablet) {
  .social {
    margin-top: 0;
  }
}

@media screen and (max-width: $mobile) {
  .social__link:first-child {
    margin-left: 0;
  }
}
